_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
node_modules
.history
assets/documents/Garrett High School Transcript.pdf
assets/images/profile-photos
assets/images/profile-logos
assets/project-media/basic-cord-winder
assets/project-media/draw-latch
assets/project-media/fan-controller-bracket
assets/project-media/filament-drybox-mk1
assets/project-media/filament-drybox-mk2
assets/project-media/filament-drybox-mk3
assets/project-media/gridfinity-label-packs
assets/project-media/hinged-draw-latch
assets/project-media/hyperloop-cord-winder
assets/project-media/mid-thread-screw-honeycomb-snap
assets/project-media/push-fit-honeycomb-snap
assets/project-media/whip-blade
