_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
node_modules
.history
assets/documents/Garrett High School Transcript.pdf
assets/images/profile-photos
assets/images/profile-logos
