<!-- TODO Fix section-projects to actually display project data. -->
{% if site.show_projects %}
<h1 class="title"><span>{{site.projects_title}}</span></h1>
<div class="projects-wrapper">
  {% for project in site.data.projects %}
  {% if project.include %}
  <div class="project neumorphism-card" data-aos="zoom-in-down" style="background-image: linear-gradient(145deg, rgba(66, 66, 66, 0.5) 15%, rgba(66, 66, 66) 80%),url('{{site.baseurl}}/{% if project.media.cover %}{{project.media.cover}}{% else %}assets/images/js-logo.jpg{% endif %}'); background-position-x:center;background-repeat:no-repeat; background-size:contain;">
    <div class="name-link-wrapper">
      <h3>{{project.name}}</h3>
      <p class="project-dates">{% if project.start-date %}{{project.start-date}} &rarr;{% endif %} {{project.end-date}}</p>
    </div>
    <p class="project-desc">{{project.description}}</p>
    {% if project.project-page %}
    <a class="highlight-link" href="{{project.project-page}}" target="_blank" rel="noreferrer">
      Project Page
    </a>
    {% endif %}
    {% if project.tags %}
    <div class="tag-wrapper">
      {% for tag in project.tags %}
      <span class="tag neumorphism-card">{{tag.tag}}</span>
      {% endfor %}
    </div>
    {% endif %}
    <!-- {% if project.skills %}
    <h4 class="project-skills">Skills</h4>
    <div class="tag-wrapper">
      {% for skill in project.skills %}
      <span class="tag neumorphism-card">{{skill.skill}}</span>
      {% endfor %}
    </div>
    {% endif %} -->
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}