@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

// Variables

$small-screen: 48em !default;
$medium-screen: 62em !default;
$large-screen: 75em !default;
$font-family: "Audiowide", sans-serif;
$font-family-numbers: "Silkscreen", sans-serif;
$font-size-base: 1rem !default;
$font-size-h1: 2rem !default;
$font-weight-strong: 600;
$text-color: #fff !default;
$bg-color: #2b2d2f;
$overlay-color: rgba(66, 66, 66, 0.5);
$primary-color: #c05cfa;

// General

html {
    background: $bg-color;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: normal;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
}

// Typography

h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-strong;
    line-height: 2rem;
}

p {
    word-spacing: 0.1rem;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
    }
}

.highlight-title {
    color: $primary-color;
    text-shadow: 0.25rem 0.25rem 0.25rem $primary-color;
}

.highlight-link {
    box-shadow: inset 0 -0.125rem 0 $primary-color;
    box-sizing: border-box;
    color: $primary-color;
    display: inline-block;
    padding: 0.125rem 0.125rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: inset 0 -2rem 0 0 $primary-color;
        color: $text-color;
    }
}

// Footer

.footer {
    background: $bg-color;
    color: $text-color;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.footer a {
    color: $primary-color;

    &:hover,
    &:focus {
        background: $bg-color;
        color: $text-color;
    }
}

/* #region Live Background */

.live-background {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}

.background-overlay {
    min-width: 80%;
    min-height: 100%;
    float: none;
    position: absolute;
    background: $overlay-color;
}

.site-content {
    padding: 30px 0;
    flex: 1;
    display: block;
    float: none;
    position: relative;
}

/* #endregion Live Background */

// Landing Page

#landing {
    background: $bg-color;
    color: $text-color;
    display: flex;
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

.landing-title {
    left: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 40%;
}

.landing-icons {
    display: flex;
    justify-content: center;

    .social-link {
        color: $text-color;
        position: relative;
        height: 3rem;
        line-height: 3rem;
        margin: 0.25rem;
        width: 3rem;

        .circle {
            animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            fill: none;
            stroke-dasharray: 40;
            transition: all 0.2s ease-in-out;
        }

        .social {
            font-size: 1.5rem;
            position: absolute;
            top: 0px;
            transition: all 0.5s ease-in-out;
            width: 100%;
        }

        .social-svg {
            fill: white;
        }

        .label {
            display: none;
        }

        &:hover {
            cursor: pointer;

            .circle {
                animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
                    colorBlackIcon 1s linear forwards;
                fill: $text-color;
                fill-opacity: 1;
            }

            .social-svg {
                fill: #000;
            }

            .label {
                display: unset !important;
                position: relative;
                top: -2rem;
            }
        }
    }

    .facebook:hover {
        .circle {
            animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
                colorFacebook 1s linear forwards;
        }

        .social-svg {
            fill: #d44638;
        }
    }

    .github:hover {
        .circle {
            animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
                colorGitHub 1s linear forwards;
        }

        .social-svg {
            fill: #d44638;
        }
    }

    .instagram:hover {
        .circle {
            animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
                colorInstagram 1s linear forwards;
        }

        .social-svg {
            fill: #d44638;
        }
    }

    .linkedin:hover {
        .circle {
            animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
                colorLinkedIn 1s linear forwards;
        }

        .social-svg {
            fill: #d44638;
        }
    }

    .x-twitter:hover {
        .circle {
            animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
                colorTwitter 1s linear forwards;
        }

        .social-svg {
            fill: #d44638;
        }
    }

    @keyframes outWaveIn {
        to {
            stroke-dasharray: 510;
            stroke-width: 0.5rem;
        }
    }

    @keyframes outWaveOut {
        from {
            stroke: $text-color;
            stroke-dasharray: 510;
            stroke-width: 0.5rem;
        }

        to {
            stroke: $text-color;
            stroke-dasharray: 83;
            stroke-width: 0.5rem;
        }
    }

    @keyframes colorBlackIcon {
        to {
            stroke: #000;
        }
    }

    @keyframes colorFacebook {
        to {
            stroke: #0866ff;
        }
    }

    @keyframes colorGitHub {
        to {
            stroke: #e6edf3;
        }
    }

    @keyframes colorInstagram {
        to {
            stroke: #fe0175;
        }
    }

    @keyframes colorLinkedIn {
        to {
            stroke: #1aa9ff;
        }
    }

    @keyframes colorTwitter {
        to {
            stroke: #e7e9ea;
        }
    }
}